* {
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body {
  margin: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

h4 {
  margin: 0;
}

.container {
  background: rgb(0, 100, 0);
  background: linear-gradient(180deg, rgba(0, 100, 0, 1) 0%, rgba(0, 74, 100, 1) 100%);
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.brand-container {
  margin-bottom: 20px;
}

.brand {
  font-size: 3rem;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.logo {
  max-width: 100%;
  border-radius: 10%;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  text-decoration: none;
}



.login-button,
.signup-button,
.Link {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  /* Change color as needed */
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.signup-button {
  background-color: #28a745;
  /* Change color as needed */
}

main {}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form-container h4 {
  margin-bottom: 20px;
  /* Adds spacing between the heading and the form */
  font-size: 30px;
  font-weight: 400;
  color: black;
}

.login-form-container form {
  width: 300px;
  /* Set a width for the form */
}

.login-form-container input[type="email"],
.login-form-container input[type="password"],
.login-form-container input[type="text"]
 {
  width: 100%;
  /* Make inputs fill the width of the form */
  padding: 10px;
  /* Add padding to inputs for spacing */
  margin-bottom: 15px;
  /* Add spacing between input fields */
}

.login-form-container button {
  width: 100%;
  /* Make button fill the width of the form */
  padding: 10px;
  /* Add padding to button for spacing */
  background-color: #007bff;
  /* Example button color */
  color: #fff;
  /* Example text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Add transition effect */
}

.login-form-container button:hover {
  background-color: #0056b3;
  /* Example color change on hover */
}

/* Media Query for Mobile First Design */
@media screen and (min-width: 768px) {
  .homepage {
    /* Add styles for larger screens if necessary */
  }
}